*.wpr
*.wpu
*.pyc
*~
*.log
.project
.pydevproject
anw/Database/*.*
anw/Client/tutorial\.data
anw/Client/user\.info
anw/Client/resolution.txt
anw/Client/connections\.info
anw/Client/neurojump\.info
*.exe
